 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background: #74ebd5;
  background: -webkit-linear-gradient(
    to right, 
    #acb6e5,
    #74ebd5
  ); */
  background: linear-gradient(to right, #acb6e5, #74ebd5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #731688;
  text-align: center;
  margin: auto;
  font-family: 'Poiret One', cursive;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 8rem);
  grid-template-rows: repeat(4, 8rem);
  grid-gap: 2rem;
  perspective: 800px;
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: rgba(79, 114, 171, 0.2) 0px 5px;

}

.face, 
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.back {
  background: rgb(7, 138, 171);
  backface-visibility: hidden;

}
.toggleCard {
  transform: rotateY(180deg);
}

#restart-button {
  background-image: url("/images/refresh.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px; 
  position: relative;
  transform: translateY(-100px);
  border: #731688;
  padding: 0%;
}